body {
    font-family: monospace;
    font-size: 20px;
    background-color: rgb(231, 184, 128);
    color: rgb(52, 52, 202);
}

li {
    font: bold 18px monospace;
    color: rgb(143, 36, 36);   
}

.underline { text-decoration: underline;}

button {
    border-radius: 4px;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: green;
}
